.tooltip {
  position: absolute;
  text-wrap: nowrap;
  z-index: 1;
  font-size: 0.875rem;
  background-color: var(--secondary-background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  color: var(--color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition:
    top 200ms ease-in-out,
    opacity 200ms ease-in-out;
}

.tooltip-container {
  position: relative;

  &:hover {
    cursor: help;
  }

  &:hover > .tooltip,
  &:active > .tooltip {
    display: block;
    top: -3rem;
    opacity: 1;
  }
}
